/* Right Side - Personal Info */
.personal-info {
  margin: 3rem auto;
  width: 55%;

  position: relative;
}

/* header */
.form-card .header {
  margin-bottom: 2rem;
}

.form-card .header h1 {
  margin-bottom: .5rem;
  color: var(--general-font);
}

.form-card .header p {
  font-size: .8rem;
  color: var(--secondary-font);
}

/* fields */
form .name-field,
form .email-field,
form .phone-field {
  position: relative;

  display: flex;
  flex-direction: column;

  color: var(--general-font);
  margin-bottom: 1.5rem;

  font-size: .8rem;
  font-weight: 500;
}

form label {
  margin-bottom: .3rem;
}

form input {
  height: 2.5rem;

  background: none;
  outline: none;

  border: 1px solid var(--secondary-font);
  border-radius: 5px;

  padding: .5rem;
}
/*********************************************/

/* JavaScript error messages */
.error-msg-name,
.error-msg-phone,
.error-msg-email {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
