/* Right Side */
.personal-info,
.select-your-plan {
  margin: 3rem auto;
  width: 55%;
}

/* header */
.form-card .header {
  margin-bottom: 2rem;
}

.form-card .header h1 {
  margin-bottom: .5rem;
  color: var(--general-font);
}

.form-card .header p {
  font-size: .8rem;
  color: var(--secondary-font);
}

/* fields */
form .name-field,
.email-field,
.phone-field {
  position: relative;

  display: flex;
  flex-direction: column;

  color: var(--general-font);
  margin-bottom: 1.5rem;

  font-size: .8rem;
  font-weight: 500;
}

form label {
  margin-bottom: .3rem;
}

form input {
  height: 2.5rem;

  background: none;
  outline: none;

  border: 1px solid var(--secondary-font);
  border-radius: 5px;

  padding: .5rem;
}

/* submit */
form .submit-btn {
  display: block;

  cursor: pointer;

  margin: 3rem 0 0 auto;
  padding: .7rem 1rem;

  background-color: var(--general-font);
  color: var(--form-card-bg);

  outline: none;

  border: none;
  border-radius: 5px;
}

/*********************************************/

/* JavaScript error messages */
.error-msg-name,
.error-msg-phone,
.error-msg-email {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

/*********************************************/

.personal-info {
  display: none;
}

.select-your-plan .plan-cards {
  display: flex;
  gap: 1rem;
}

.select-your-plan .card {
  border: 1px solid var(--border-cards);
  border-radius: 10px;

  width: 100%;
  padding: .8rem;
}

.select-your-plan .card svg {
  margin-bottom: 2.5rem;
}

.select-your-plan .card span {
  font-size: .8rem;
  color: var(--secondary-font);
}

.select-your-plan .monthly-yearly-bar input {
  width: 5rem;
}

/* Checkbox */
.monthly-yearly-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: .5rem 0;
  margin-top: 1.5rem;

  border-radius: 5px;
  background-color:  hsl(217, 100%, 97%);
}

.monthly-yearly-bar input[type="checkbox"].toggle {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

.monthly-yearly-bar input[type="checkbox"].toggle + label {
  position: relative;
  width: 2rem;
  height: 1rem;
  background-color: var(--general-font);
  border-radius: 15px;
  cursor: pointer;
}

.monthly-yearly-bar input[type="checkbox"].toggle + label::after {
  content: "";
  position: absolute;
  
  width: .85rem;
  height: .85rem;

  left: 1px;
  top: 1px;
  transition: 250ms ease-in-out;
  
  border-radius: 50%;
  background-color: white;
}

.monthly-yearly-bar input[type="checkbox"].toggle:checked + label::after {
  transform: translateX(16px);
}
/*********************************************/

.select-your-plan .btns {
  margin-top: 5rem;
}